window {
    background-color: transparent;
    font: FiraCode Nerd Font;
}

#input {
    margin: 5px;
    border: 1px solid #B18CFF;
    color: #D6DEE4;
    background-color: #1B1D2E;
}

#input:focus {
    box-shadow: none;
}

#inner-box {
    border: none;
    background-color: #1B1D2E;
}

#outer-box {
    margin: 5px;
    border: 2px solid #B18CFF;
    border-radius: 4px;
    background-color: #1B1D2E;
}

#text {
    margin: 5px;
    border: none;
    color: #D6DEE4;
}

#text:selected {
    color: #B18CFF;
    text-shadow: 0 0 4px #B18CFF;
}

#entry {
    margin: 5px;
}

#entry:selected {
    background-color: #1B1D2E;
    border: 1px solid #B18CFF;
    border-radius: 4px;
    color: #B18CFF;
    box-shadow: 0 0 4px #B18CFF;
}
