* {
    font-family: "Fira Code";
    font-size: 13px;
}

window#waybar {
    background-color: #161821;
    color: #D8DEE9;
    border-bottom: none;
}

button {
    border: none;
    border-radius: 0;
    padding: 5px;
    color: #D8DEE9;
    background-color: transparent;
}

#workspaces button {
    padding: 0 5px;
    color: #D8DEE9;
}

#workspaces button:hover {
    background: #2B2F3A;
}

#workspaces button.active {
    border-top: 2px solid #FF88B3;
    background-color: #2E3440;
}

#clock,
#battery,
#pulseaudio,
#memory,
#cpu,
#network,
#bluetooth {
    padding: 0 6px;
}

#battery.critical,
#network.disconnected,
#pulseaudio.muted {
    color: #FF5577;
}

#cpu,
#memory {
    color: #4FFFD2;
}

#battery {
    color: #FFCC66;
}

#clock {
    color: #C792EA;
}

#network {
    color: #66CCFF;
}

#pulseaudio {
    color: #FF99FF;
}

#tray {
    padding: 7px;
}
